<div class="panel panel-default">
  <div class="panel-body">
<h2>
    <a href="/hobby/<%= name %>/<%= post.title %>"><%= post.title %></a>
</h2>
<p class="lead">
    Author: <a href="/users/<%= post.author %>"><%= post.author %></a>
</p>
<hr>
<center>
<a class="btn btn-info" href="/hobby/<%= name %>/<%= post.title %>">Read More <i class="fa fa-angle-right"></i></a>
</center>
</div>
</div>
