<%- include('../layout/header', {title: "Edit Profile", user: user}) %>
<% title = "Edit Profile" %>
<!-- Edit Profile page -->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1>You can edit your profile page here!</h1>
        <form name="editprofile" id="editprofile" action="/users/<%= name %>" method="POST">
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>First Name</label>
                    <input class="form-control" name="first" type="text" value="<%= profile.first %>" placeholder="Your first name" id="first">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Last Name</label>
                    <input class="form-control" name="last" type="text" value="<%= profile.last %>" placeholder="Your last name" id="first">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Age</label>
                    <input class="form-control" name="age" type="text" value="<%= profile.age %>" placeholder="Your age" id="age">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Email Address</label>
                    <input class="form-control" name="email" type="text" value="<%= profile.email %>" placeholder="Your email address" id="email">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Phone Number</label>
                    <input class="form-control" name="phone" type="text" value="<%= profile.phone %>" placeholder="Your phone number" id="phone">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Tell us something about yourself</label>
                    <textarea rows="5" class="form-control" name="bio" value="<%= profile.bio %>" placeholder="Your biography" id="bio"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-xs-12">
                  <button type="button" onclick="javascript:window.location.reload()" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <input type="submit" class="btn btn-success" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('../layout/footer') %>
